//

body {
  background-color: sandybrown;
  font-family: Nunito;
  padding: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  label {
    margin-bottom: 0.3rem;
    color: #666666
  }
  
  input[type="text"] {
    border: 1px solid #999999;
    border-radius: 0.25em;
    padding: 0.25em;
    margin-bottom: 0.5rem;
  }
}